<ul class="contact">
  <li><a href="mailto:carmelo.mordini@unipd.it"><i class="fa fa-envelope"></i> carmelo.mordini@unipd.it</a></li>
  <li><a href="https://scholar.google.com/citations?user=x0dCLs0AAAAJ&amp;hl=en"><i class="ai ai-google-scholar"></i> Google Scholar</a></li>
  <li><a href="https://arxiv.org/a/mordini_c_1.html"><i class="ai ai-arxiv"></i> arXiv</a></li>
  <li><a href="https://github.com/carmelom"><i class="fa fa-github"></i> GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/carmelo-mordini/"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
</ul>
